<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>TOC - Editor.md examples</title>
    <!-- <link rel="stylesheet" href="/editor.md/examples/css/style.css" /> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <style>
        .layout{margin: 0 30px;}
        .btn-save{float: right; font-size: 18px; cursor: pointer;}
        .btn-info{margin-right: 10px;}
    </style>
</head>
<body>
    <div class="layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="title">文章标题：</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" placeholder="请输入文章标题" aria-describedby="basic-addon2" id="title" value="<% if (typeof(art) !== 'undefined') {%><%= art.title %><%}%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="formGroupInputSmall">输入标签：</label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="create-tag-input" placeholder="创建新标签">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="create-tag" type="button">添加</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control" id="old-tags">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="formGroupInputSmall">已选标签：</label>
                            <div class="col-lg-10">
                                <div class="input-group" id="tag-list">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-12">
                    <div id="test-editormd">
                        <% if (typeof(art) !== 'undefined') {%>
                            <textarea><%= art.md %></textarea>
                        <%}%>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-save">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                </div>
            </div>
        </div>
    </div>
        
    <script type="text/javascript" src="/vendors/jquery/index.js?v=2.1.3"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/editor.md/editormd.js"></script>
    <script type="text/javascript">
        var oldtags = <%- art.tag%>;
    </script>
    <script type="text/javascript">            
        var testEditor;
            
        $(function() {
            testEditor = editormd("test-editormd", {
                width         : "100%",
                height        : 720,
                path          : "/editor.md/lib/",
                saveHTMLToTextarea : true,
                //toc           : false,         // diable ToC
                
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/upload",
                onload : function() {
                },
                tocStartLevel : 2      // Parse beginning of H2, Default value 1
            });
            //获取标签列表，添加标签select动作
            $.ajax({
                url:"/tagslist",
                type:"get",
                dataType:"json",
                success:function(data){
                    console.info(data);
                    if(parseInt(data.code) === 200){
                        var data = data.data, index = 0, len = data.length, $select = $("#old-tags"),html = "";

                        for(index; index < len; index++){
                            var item = data[index],
                                tmp = '<option value="' + item._id + '">' + item.name + '</option>';
                            html += tmp;
                        }
                        $select.append(html);
                        $select.change(clickSelect);
                    }
                }
            });

            // tags = [{id:121,name:html},{},{}];
            //处理标签数据
            function tagsHandle(tags){
                this.tags = [];
            }
            tagsHandle.prototype = {
                addTag: function(id, name){
                    console.info(!this.isExist(id));
                    if(!this.isExist(id)){
                        this.tags.push({
                            id:id,
                            name:name
                        });
                        return true;
                    } else{
                        return false;
                    }
                },
                deleteTag: function(id){
                    var index = findIndexById(this.tags, id);
                    this.tags.splice(index,1);
                },
                isExist: function(id){
                    var index = findIndexById(this.tags, id);
                    console.info(index)
                    return index === -1 ? false : true;
                },
                getTags:function(){
                    return this.tags;
                }
            }
            tagsDataHandle = new tagsHandle();
            function initOldTags(data){
                console.info("dddaaa",data);
                var index = 0, len = data.length;
                for(index; index < len; index++){
                    var item = data[index];
                    addTag(item.id, item.name);
                }
            }
            initOldTags(oldtags);

            // var $tagList = $("#tag-list");
            // 添加新tag，包括显示标签样式和更新标签数据。
            function addTag(id,name){
                var flag = tagsDataHandle.addTag(id,name);
                if(flag){
                    // console.info("3333333",$tagList)
                    var tmp = '<button type="button" class="btn btn-info" data-id="'+ id +'">'+name+'</button>',
                        $tmp = $(tmp);

                    $tmp.appendTo($("#tag-list"));
                    $tmp.one("click", function(){
                        tagsDataHandle.deleteTag(id);
                        $tmp.remove();
                    });
                }
            }
            //处理点击select事件，
            function clickSelect(){
                var $this = $(this);
                console.info($this.val());
                console.info($this.find("option:selected").text());
                addTag($this.val(),$this.find("option:selected").text())
            }
            //通过Id查找数组中对象，如果存在返回该对象在数组中的位置，否则返回-1
            function findIndexById(arr, id){
                var index = 0, len = arr.length;
                for(index; index < len; index++){
                    if (arr[index].id === id) {
                        return index;
                    };
                }
                return -1;
            }
            
            //创建新的标签（当前数据库中没有的标签）
            var $createBtn = $("#create-tag"),
                $createInput = $("#create-tag-input");

            $createBtn.click(function(event) {
                /* Act on the event */
                var val = $createInput.val();
                if(val=== "" ||val === " "){
                    alert("请输入标签名称");
                } else{
                    $.ajax({
                        url:"/tags/create/" + val,
                        type:"get",
                        dataType:"json",
                        success:function(data){
                            console.info(data);
                            if(parseInt(data.code) === 200){
                                addTag(data.tag._id, val);
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                }
            });

            $(".btn-save").on("click", function(){
                var til = $("#title").val(),
                    md = testEditor.getMarkdown(),
                    // html = testEditor.getHTML()
                    html = $('.editormd-preview').html();
                    // introduce = $('.editormd-preview blockquote:eq(0)').prop("outerHTML");
                    introduce = $('.editormd-preview blockquote:eq(0)').html();
                if(!til){
                    alert("请输入标题");
                } else if(!md && !html){
                    alert("请输入内容");
                }else{
                    $.ajax({
                        type : "POST",
                        url  : location.href,
                        data : {
                            md    : md,
                            html  : html,
                            title : til,
                            introduce : introduce,
                            tag : JSON.stringify(tagsDataHandle.getTags())
                        },
                        success : function(data, textStatus){
                            console.info("data = ", data);
                            alert(data.msg)
                        }
                    });
                }
            });

        });
    </script>
</body>
</html>