<!doctype html>
<html class="theme-next pisces use-motion">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!-- 屏蔽百度转码或者说叫做不希望被转码方法 -->
<meta http-equiv="Cache-Control" content="no-transform"/>
<!-- 百度siteapp 禁止网页转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/css/main.css"/>
<link rel="stylesheet" href="/editor.md/css/editormd.min.css"/>
<meta name='description' content='<%= config.description %>'>
<meta name="keywords" content="<%= config.keywords %>"/>
<style type="text/css">
  .editormd-preview-container, .editormd-html-preview {
     padding: 0; 
  }
</style>
<meta name="description">
<!-- <meta property="og:type" content="website">
<meta property="og:title" content="lidianhao">
<meta property="og:url" content="http://yoursite.com/index.html">
<meta property="og:site_name" content="lidianhao">
<meta property="og:description"> -->
<% if (typeof(art) !== 'undefined' && art.title) {%>
  <title>全栈网,<%= art.title %></title>
<%} else{%>
  <title>全栈网</title>
<%}%>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c1e08b68ef5c295a3d4d20c94b5e9d2b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="container">
  <!-- 顶部黑线条 start -->
  <div class="headband">
  </div>
  <!-- 顶部黑线条 end -->
  <!--  -->
  <header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="header-inner">
      <div class="site-meta ">
        <!--<div class="custom-logo-site-title">
          <a href="/" class="brand" rel="start">
          <span class="logo-line-before"><i></i></span>
          <span class="site-title" style="opacity: 1; top: 0px;">全栈网</span>
          <span class="logo-line-after" style="opacity: 1; top: 0px;"><i></i></span>
          </a>
        </div>
        <p class="site-subtitle">
          <% if (typeof(current_user) !== 'undefined' && current_user) {%>
            <%= current_user.name %>
          <%}%>  
        </p>-->
        <img class="logo" src="" width="75" height="75" alt="">
      </div>
      <div class="site-nav-toggle">
        <button>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        </button>
      </div>
      <% include nav.html %>
    </div>
  </header>
  <main id="main" class="main">
  <div class="main-inner">
    <div class="content-wrap">
        <%- body %>
    </div>
    <div class="sidebar-toggle">
      <div class="sidebar-toggle-line-wrap">
        <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
      </div>
    </div>
    <aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
      <section class="site-overview sidebar-panel sidebar-panel-active ">
      <div class="site-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img class="site-author-image" itemprop="image" width="70" height="70" src="/avater.jpg" alt="Dian Li"/>
        <p class="site-author-name" itemprop="name">
          钿哥
        </p>
        <p class="site-description" itemprop="description">
        </p>
      </div>
      <nav class="site-state">
      <div class="site-state-item site-state-posts">
        <a href="/archives/0">
        <span class="site-state-item-count">
          <% if (typeof(allArtNum) !== 'undefined' && allArtNum) {%>
          <%= allArtNum %>
          <%}%>
        </span>
        <span class="site-state-item-name">日志</span>
        </a>
      </div>
      <div class="site-state-item site-state-categories">
        <span class="site-state-item-count">0</span>
        <span class="site-state-item-name">分类</span>
      </div>
      <div class="site-state-item site-state-tags">
        <a href="/tags">
        <span class="site-state-item-count">2</span>
        <span class="site-state-item-name">标签</span>
        </a>
      </div>
      </nav>
      <div class="feed-link motion-element">
        <a href="/atom.xml" rel="alternate">
          <i class="fa fa-rss"></i>
          Links
        </a>
      </div>
      <div class="links-of-author">
        <span class="links-of-author-item">
          <a href="https://blog.ahthw.com/" target="_blank">DHN</a>
        </span>
      </div>
      </section>
    </div>
    </aside>
  </div>
  </main>
  <!-- footer start -->
  <footer id="footer" class="footer">
    <div class="footer-inner">
      <div class="copyright">
        <div class="powered-by"> 
          <a class="theme-link" target="_blank" href="http://tjcainfo.miitbeian.gov.cn/state/outPortal/loginPortal.action">津ICP备15008881号-1</a>
        </div>
        &copy; 
        <span itemprop="copyrightYear">2016</span>
        <span class="with-love">
        <i class="icon-next-heart fa fa-heart"></i>
        </span>
        <span class="author" itemprop="copyrightHolder">Dian Li</span>
      </div>
      
      <!-- <div class="theme-info">
        主题 -
        <a class="theme-link" target="_blank" href="https://github.com/iissnan/hexo-theme-next">
          NexT.Pisces
        </a>
      </div> -->
    </div>
  </footer>
  <!-- footer end -->

  <!-- 返回顶部 start -->
  <div class="back-to-top">
  </div>
  <!-- 返回顶部 end -->
</div>

<script type="text/javascript" src="/vendors/jquery/index.js?v=2.1.3"></script>
<script type="text/javascript" src="/vendors/velocity/velocity.min.js"></script>
<script type="text/javascript">
  $('.back-to-top').on('click', function () {
    $('body').velocity('scroll');
  });
  var $siteNav = $(".site-nav");
  $(".site-nav-toggle").on("click", function(){
    if($siteNav.css("display") === "none"){
      $siteNav.show();
    } else{
      $siteNav.hide();
    }
  })
</script>
</script>
</body>
</html>