<% layout('layout') -%>
<div id="content" class="content">
    <form action="" method="post" class="base-form">
        <div class="form-line">
            <label for="account">账号</label>
            <input type="text" id="account" name="name">
        </div>
        <div class="form-line">
            <label for="account">密码</label>
            <input type="password" id="password" name="pass">
        </div>
        <div class="form-line">
            <button type="submit">登陆</button>
        </div>
    </form>
</div>