<nav class="site-nav">
    <ul id="menu" class="menu">
        <% navData.items.forEach(function(item, index){ %>
          <% if(index === navData.curIndex){%>
            <li class="menu-item menu-item-home menu-item-active">
          <%} else{%>
            <li class="menu-item menu-item-home">
          <%}%>
              <a href="<%= item.link %>" rel="section">
              <i class="menu-item-icon fa <%= item.className %> fa-fw"></i><br/>
                  <%= item.name %>
              </a>
          </li>
        <% }) %>
    </ul>
</nav>
<!-- <nav class="site-nav">
    <ul id="menu" class="menu ">
      <li class="menu-item menu-item-home menu-item-active">
      <a href="/" rel="section">
      <i class="menu-item-icon fa fa-home fa-fw"></i><br/>
            首页
      </a>
      </li>
      <li class="menu-item">
      <a href="/archives/0" rel="section">
      <i class="menu-item-icon fa fa-archive fa-fw"></i><br/>
            归档
      </a>
      </li>
      <li class="menu-item menu-item-tags">
      <a href="/tags" rel="section">
      <i class="menu-item-icon fa fa-tags fa-fw"></i><br/>
            标签
      </a>
      </li>
      <li class="menu-item menu-item-about">
      <a href="/about" rel="section">
      <i class="menu-item-icon fa fa-user fa-fw"></i><br/>
            关于
      </a>
      </li>
      <li class="menu-item menu-item-commonweal">
      <a href="http://www.ixirong.com/404.html" rel="section">
      <i class="menu-item-icon fa fa-heartbeat fa-fw"></i><br/>
            公益404
      </a>
      </li>
    </ul>
</nav> -->