<nav class="site-nav">
    <ul id="menu" class="menu">
        <% navData.items.forEach(function(item, index){ %>
          <% if(index === navData.curIndex){%>
            <li class="menu-item menu-item-home menu-item-active">
          <%} else{%>
            <li class="menu-item menu-item-home">
          <%}%>
              <a href="<%= item.link %>" rel="section">
              <i class="menu-item-icon fa <%= item.className %> fa-fw"></i>
                  <%= item.name %>
              </a>
          </li>
        <% }) %>
    </ul>
</nav>